{
    "editor.fontSize": {{ editor_fontsize }},
    "terminal.integrated.fontSize": {{ terminal_fontsize }},
    "terminal.integrated.scrollback": 10000000,
    "workbench.iconTheme": "material-icon-theme",
    "explorer.confirmDelete": false,
    "redhat.telemetry.enabled": true,
    "workbench.colorTheme": "{{ vscode_theme }}",
    "window.menuBarVisibility": "toggle",
    "window.titleBarStyle": "custom",
    "settingsSync.ignoredSettings": [
        "editor.fontSize"
    ],
    "window.zoomLevel": {{ window_zoomlevel }},
    "workbench.sideBar.location": "right",
    "terminal.integrated.copyOnSelection":  true,
    "extensions.autoCheckUpdates": true,
    "extensions.autoUpdate": true,
    "gitlens.gitCommands.skipConfirmations": [
        "fetch:command",
        "stash-push:command",
        "switch:command",
        "push:command"
    ],
}
