{
    "terminal.integrated.fontSize": 12,
    "terminal.integrated.scrollback": 10000000,
    "workbench.iconTheme": "material-icon-theme",
    "explorer.confirmDelete": false,
    "redhat.telemetry.enabled": true,
    "workbench.colorTheme": "Monokai Dimmed",
    "window.menuBarVisibility": "toggle",
    "window.titleBarStyle": "custom",
    "settingsSync.ignoredSettings": [
        "editor.fontSize"
    ],
    "workbench.sideBar.location": "right",
    "terminal.integrated.copyOnSelection":  true,
    "extensions.autoCheckUpdates": true,
    "extensions.autoUpdate": true,
    "gitlens.gitCommands.skipConfirmations": [
        "fetch:command",
        "stash-push:command",
        "switch:command",
        "push:command"
    ],
    "[python]": {
        "editor.formatOnType": true
    },
    "editor.fontSize": 24,
    "cSpell.userWords": [
        "organise"
    ],
    "security.workspace.trust.untrustedFiles": "open",
    "editor.unicodeHighlight.allowedCharacters": {
        " ": true
    },
    "ansible.lightspeed.suggestions.enabled": true,
    "ansible.validation.lint.enabled": false,
    "python.defaultInterpreterPath": "/home/myork/.pyenv/versions/3.11.1/bin/python",
    "window.zoomLevel": 1,
    "ansible.lightspeed.enabled": true,
    "git.openRepositoryInParentFolders": "never",
}